* {
  font-family: "Roboto", sans-serif;
}
.navbar {
  background-color: black;
}
.navbar .container-fluid a {
  text-decoration: none;
  color: white;
}
.navbar-nav .nav-item a {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  font-weight: bold;
}
.navLink {
  text-decoration: none;
  color: white;
}
.colapse {
  color: red;
}
.dropdrown {
  background-color: black;
}
.container{
  margin-top: 150px;
}